#!/bin/sh
#
# $OpenBSD$

daemon="${TRUEPREFIX}/sbin/keactrl"

. /etc/rc.d/rc.subr

pexp="${TRUEPREFIX}/sbin/kea-dhcp(4|6|-ddns)"

rc_pre() {
	if ! [ -d ${LOCALSTATEDIR}/run/kea ]; then
	    mkdir -p ${LOCALSTATEDIR}/run/kea
	    chown root:_kea ${LOCALSTATEDIR}/run/kea
	    chmod 0775 ${LOCALSTATEDIR}/run/kea
	fi
}

rc_start() {
	${rcexec} "${daemon} start"
}

rc_reload() {
	${daemon} reload
}

rc_check() {
	pgrep -q -f "${pexp}"
}

rc_stop() {
	${daemon} stop
}

rc_cmd $1
